@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check-in</title>
    <link rel="stylesheet" href="~/css/Features/AccessoOspite/CheckIn.css" />
</head>
<body class="Color-main">
    <div class="full-screen-container">

        <h1 class="Title-small">Planner.com</h1>

        <img src="~/images/Check-in.png" alt="Check-in completato" />
        <div class="Card-confirmation">
            <h2>Check-in avvenuto con successo</h2>
        </div>
        <div class="thanks-message">
            <p>Grazie per la visita! 😄<br />Per procedere con il checkout scansiona di nuovo lo stesso QR code. A presto!</p>
        </div>

    <!-- Follow Us Section -->
    <div class="followus">
        <h3>Follow us</h3>
        <div class="socialmedialogos">
            <img src="~/images/Facebook.png" alt="Facebook" />
            <img src="~/images/Twitter.png" alt="Twitter" />
            <img src="~/images/Instagram.png" alt="Instagram" />
            <img src="~/images/Linkedin.png" alt="LinkedIn" />
            <img src="~/images/Youtube.png" alt="YouTube" />
        </div>
        </div>
        </div>
</body>
</html>
