@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Check-out</title>
    <link rel="stylesheet" href="~/css/Features/AccessoOspite/CheckOut.css" />
</head>
<body class="Color-main">
    <div class="full-screen-container">
        <h1>Planner.com</h1>
        <img src="~/images/Check-out.png" alt="Check-out completato" />
        <div class="Card-confirmation">
            <h2>Check-out avvenuto con successo</h2>
        </div>
        <div class="thanks-message">
            <p>
                Grazie per essere passato!<br />
                Speriamo che la visita sia stata interessante. Non vediamo l'ora di rivederti presto! 😄
            </p>
        </div>


    <!-- Follow Us Section -->
    <div class="follow-us">
        <h3>Follow us</h3>
        <div class="social-media-logos">
            <img src="~/images/Facebook.png" alt="Facebook" />
            <img src="~/images/Twitter.png" alt="Twitter" />
            <img src="~/images/Instagram.png" alt="Instagram" />
            <img src="~/images/Linkedin.png" alt="LinkedIn" />
            <img src="~/images/Youtube.png" alt="YouTube" />
        </div>
    </div>
    </div>
</body>
</html>
