@{
    Layout = null; // Se non vuoi usare il layout principale
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>PaginaBlu</title>
    <link rel="stylesheet" href="~/css/Features/AccessoOspite/PaginaBlu.css" />
    <meta http-equiv="refresh" content="2; url=@Url.Action("Index", "AccessoOspite")">
</head>
<body class="Color-main">
    <div class="full-screen-container">
        <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTJ5bTZzc2Jjd2luMWJ2enljZWtra28yOWtlZzJybzJidnNvdDByeCZlcD12MV9pbnRlcm5naWZfYnlfaWQmY3Q9cw/fphXG8dDcRHVavls9o/giphy.gif" alt="Loading..." />
        <h1>Attendi un secondo!!</h1>
    </div>
</body>
</html>
